.channel {
  display: flex;
  align-items: center;
  
  .controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  span {
    padding: 0 10px;
    font-family: consolas, sans-serif;
  }
}

.muted {
  opacity: 0.7;
}
