<h2>{{ currentTime | date : "mm : ss" }}</h2>
<h2>{{ startTime | date : "EEEE, MMMM dd -  hh : mm : ss" }}</h2>
<div class="controls">
  <button class="c-btn button play" (click)="play()">
    <i class="fa-solid fa-play"></i>PLAY
  </button>
  <button class="c-btn button stop" (click)="pause()">
    <i class="fa-solid fa-stop"></i>STOP
  </button>
  <input
    type="range"
    id="volume"
    min="0"
    max="2"
    value="1"
    step="0.01"
    (input)="changeGain($event)"
  />
</div>

<div class="channels">
  <div *ngFor="let channel of gainNodes; let i = index">
    <app-channel [name]="i" (muteChannel)="mute(i)"></app-channel>
  </div>
</div>
