/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();


// $my-palette: mat.$amber-palette;
$my-primary: mat.define-palette(mat.$teal-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, 500);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));
@include mat.all-component-themes($my-theme);

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
html {
  min-height: 100vh;
}
body {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
